<%- include('partials/header') %>

<h1>Page Doesn't Exist - 404</h1>
<img src="images/404-animation-cat.gif" alt="cat404">
<br>
<button class="btn btn-dark" type="button" onclick="location.href='/members'">Go back</button>
<%- include('partials/footer') %>