<%- include('partials/header') %>

    <h1>Welcome to Cat Cookies 101, let's begin.</h1>
    <button class="btn btn-outline-dark signup-btn type="button" onclick="location.href='/signup'">Sign Up</button>
    <button class="btn btn-dark login-btn" type="button" onclick="location.href='/login'">Login</button>

    <%- include('partials/footer') %>