<%- include('partials/header') %>

    <h1> Hello, <%- username%></h1>
    <!-- <img src="basha00${Math.floor(Math.random() * 4) + 1}.JPG" alt="Basha" width="800"> -->
    <!-- <%- catPic %> -->

    <div class="container shadow-lg content-box">
        <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <img class="content-pic" src="images/basha001.JPG">
                    </div>
                    <div class="col-lg-4">
                        <img class="content-pic" src="images/basha002.JPG">
                    </div>
                    <div class="col-lg-4">
                        <img class="content-pic" src="images/basha003.JPG">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="/logout" method="post">
        <button class="btn btn-outline-danger logout-btn" type="submit">Log out</button>
    </form>

    <%- include('partials/footer') %>