html {
    height: 100%;
    box-sizing: border-box;
  }
    
  body {
    margin: 0;
    min-height: 100%;
  }


/* //////////////////////////////////// */
/* Partials */
/* //////////////////////////////////// */
.my-navbar {
    background-color: #F7F7F7;
    border-bottom: 2px solid #B85C38;
}

#my-footer {
    /* position: absolute;
    bottom: 0; */
    margin-top: 20%;
    margin-bottom: 0;
    width: 100%;
    background-color: #F7F7F7;
    border-top: 2px solid #B85C38;
    border-bottom: 2px solid #B85C38;
  }

/* //////////////////////////////////// */
/* Index page*/
/* //////////////////////////////////// */

.banner-txt {
    margin: 10%;
}

/* //////////////////////////////////// */
/* Sign Up and Login Page */
/* //////////////////////////////////// */
#sign-up-form,
#login-form {
    margin: 10% auto;
    width: 50%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.field-input {
    margin: 5px;
}


/* //////////////////////////////////// */
/* Members */
/* //////////////////////////////////// */
.content-box {
    border-radius: 10px;
}

.content-pic {
    margin: 2%;
    width: 100%;
    border-radius: 10px;
}


.logout-btn {
    margin: 2%;
}


/* //////////////////////////////////// */
/* Admin */
/* //////////////////////////////////// */
.users-box{
    margin: 3% auto;
}


/* //////////////////////////////////// */

@media screen and (max-width: 768px) {

    /* // make signup and login forms and field-inputs full width on mobile */
    #sign-up-form,
    #login-form {
        width: 100%;
    }

    .field-input {
        width: 100%;
    }


    footer {
        display: none;
        text-align: center;
        font-size: 0.8em;
    }
}