/* html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    height: 100%;
} */

 

/* make footer at the very bottom of the page */
/* footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    border-top: 2px solid #B85C38;
} */


/* //////////////////////////////////// */
/* Partials */
/* //////////////////////////////////// */
.my-navbar {
    background-color: #F7F7F7;
    border-bottom: 2px solid #B85C38;
}

.my-footer {
    border-top: 2px solid #B85C38;
    border-bottom: 2px solid #B85C38;
}


/* //////////////////////////////////// */
/* Index page*/
/* //////////////////////////////////// */

.banner-txt {
    margin: 10%;
}

/* //////////////////////////////////// */
/* Sign Up and Login Page */
/* //////////////////////////////////// */
#sign-up-form,
#login-form {
    margin: 10% auto;
    width: 50%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.field-input {
    margin: 5px;
}


/* //////////////////////////////////// */
/* Members */
/* //////////////////////////////////// */
.content-box {
    border-radius: 10px;
}

.content-pic {
    width: 100%;
    border-radius: 10px;
}


.logout-btn {
    margin: 2%;
}


/* //////////////////////////////////// */
/* Admin */
/* //////////////////////////////////// */



/* //////////////////////////////////// */

@media screen and (max-width: 768px) {

    /* // make signup and login forms and field-inputs full width on mobile */
    #sign-up-form,
    #login-form {
        width: 100%;
    }

    .field-input {
        width: 100%;
    }


    footer {
        text-align: center;
        font-size: 0.8em;
    }
}